/*---- Media queries ----*/
@media screen and (max-width: 1870px) { 
    /* Services list settings */
    .services-list {
        justify-content: space-around;
    }

    .services-list__item {
        width: 20%;
        min-width: 235px;
    }
}


@media screen and (max-width: 1350px) {
    /* Navigation panel settings */
    .navigation-panel {
        grid-template-columns: minmax(130px, 12%) minmax(550px, 700px) minmax(125px, 160px);
        grid-template-areas: 
            "logo main-nav lang";
    }
    .email-contact {
        display: none;
    }

    /* Setting for introduction section */
    .introduction__content {
        flex-basis: 550px;
        flex-shrink: 0;
        padding-right: 20px;
    }

    .introduction__heading {
        font-weight: 700;
        font-size: 2rem;
        line-height: 49px;
    }
    
    .introduction__heading.accent--blue {
        font-size: 2rem;
    }

    /* Section with numbers settings */
    .number-info {
        display: flex;
        gap: 40px;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 2% 0 8%;
    }

    .number-info__number {
        font-weight: 600;
        font-size: 2.25rem;
    }
}

@media screen and (max-width: 1250px) {
    /* Introduction section settings */

    /* Video section */
    .container.video-section {
        flex-wrap: wrap;
    }
    .video-section__video-container {
        margin: 40px auto 0;
        padding: 0;
    }

    /* Footer settings */
    .footer-nav__item .more-button {
        display: block;
    }

    .footer-nav__block.more-button {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    /* General settings */
    .container {
        /* width: 100%; */
        padding: 0 5%;
    }
    
    /* Navigation settings */

    .container.navigation-panel {
        display: none;
    }

    .mobile-nav-controls {
        display: flex;
    }


    .lang-selector {
        position: unset;
        width: 120px;
    }

    .lang-selector__list {
        width: 120px;
    }

    /* Settings for introduction section */

    .container.introduction {
        height: fit-content;
        padding: 0;
    }

    .introduction__content {
        flex-basis: 100%;
        flex-shrink: 0;
        padding: 0;
        height: fit-content;
    }

    .overlay__image {
        display: flex;
    }


    .services-list {
        display: none;
    }

    .services-list__mobile {
        display: flex;
    }

    .introduction__image {
        display: none;
    }

}
