/*  accent blue - #0D318D 
    accent light-blue - #F5F8FE
*/

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
/* font-family: 'Montserrat', sans-serif; */

/*---- General setting for the site----*/
* {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

a {
    color: #000000;
    text-underline-offset: 3px;
}

li, ul {
    margin: 0;
    padding: 0;
}

header, section {
    margin-bottom: 60px;
}

.container {
    width: 84%;
    margin: 0 auto;
}

.link--bold {
    font-weight: 600;
}

.accent--blue {
    color: #0D318D;
}

.accent--light-blue {
    background-color: #F5F8FE;
}

/*---- Buttons ----*/

.more-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    background-color: #0D318D;
    color: #ffffff;
    border-radius: 12px;
    font-size: 1.375rem;
    font-weight: 600;
}

.more-button__link {
    color: #ffffff;
}

.arrow-symbol {
    cursor: pointer;
    display: inline-block;
    background-color: #000000; /* defines the background color of the image */
    mask: url(../media/images/icons/arrow-down.svg) no-repeat center / contain;
    -webkit-mask: url(../media/images/icons/arrow-down.svg) no-repeat center / contain;
}

/* Setting for cookies panel */

.cookies {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 999;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #0D318D;
    color: #ffffff;
    font-size: 1.5rem;
}

.cookies__text {
    padding: 0 15%;
    text-align: center;
}

.cookies a {
    color: #ffffff;
}


.cookies__close {
    /* width: 80px; */
    position: absolute;
    right: 7.5%;
    font-weight: 700;
    text-align: center;
}



.cookies__close:hover {
    cursor: pointer;
}

/* Setting for header */

header {
    position: relative;
    width: 100%;
    font-size: 1.375rem;
    margin-top: 40px;
    /* border: 1px black solid; */
}




/*---- Navigation ----*/

.navigation-panel {
    font-weight: 600;
}

.arrow-down {
    width: 15px;
    height: 15px;
}


/*---- Grid system for navigation ----*/
.navigation-panel {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 8% minmax(150px, 275px) minmax(420px, 620px) minmax(370px, auto) minmax(100px, 160px) 5%;
    grid-template-areas: 
        ". logo main-nav email lang .";
}

.navigation-panel > * {
    padding-top: 10px;
}

.logo {
    grid-area: logo;
}

.main-nav {
    grid-area: main-nav;
}

.email-contact {
    grid-area: email;
    justify-self: end;
    margin: 0 40px;
}

.lang-selector {
    grid-area: lang;
}

/*---- Navigation ----*/

.main-nav__list {
    display: flex;
    justify-content: space-between;
}

/* Animations */

.main-nav__item:hover > * {
    color: #0D318D;
}

.main-nav__item:hover .arrow-down {
    background-color: #0D318D;
}

/*---- Email contact ----*/

.email-contact {
    color: #0D318D;
    text-decoration: underline;
}

/*---- Language selector ----*/

.lang-selector {
    position: relative;
    z-index: 999;
}

.lang-selector__list {
    top: 0;
    padding-top: 10px;
    position: absolute;
    overflow: hidden;
    font-size: 1.5rem;
    width: 100%;
    min-width: 120px;
    height: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.lang-selector__item {

    width: 100px;
    margin: 0 25% 10px 25%;
}

.lang-selector .arrow-down {
    width: 22px;
    margin: 0 10px;
    padding-right: 10px;
}

/* Animations */

.lang-selector__list:hover {
    background-color: #0D318D;
    height: 160px;
    color: #ffffff;
}

.lang-selector__list:hover .lang-selector__link {
    color: #ffffff;
}

.lang-selector__list:hover .arrow-down {
    background-color: #ffffff;
}




/*---- Section with introduction ----*/

.container.introduction {
    height: 320px;
    width: 92%;
    margin-left: 8%;
    display: flex;
    transition: all 0.3s ease;
    overflow: hidden;
}

.introduction__content {
    flex-basis: 700px;
    flex-shrink: 0;
    padding-right: 40px;
}

.introduction__heading {
    padding-right: 5%;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 49px;
}

.introduction__heading.accent--blue {
    font-size: 2.5rem;
}

.introduction__text {
    margin: 12px 0;
    font-size: 1.25rem;
    line-height: 27px;
}

.introduction__image {
    height: 320px;
}


.introduction__image img {
    position: relative;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}

/*---- Navigation section for services list ----*/

/* Settings for whole section */

.services-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 8%;
    width: 92%;
}

/* Settings for item */

.services-list__item {
    padding: 14px 25px 30px 14px;
    margin-right: 10px;
    margin-top: 20px;
    width: 235px;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.services-list__logo {
    background-color: #000000;
    width: 50px;
    height: 50px;
}

/* Icons for services items */

.services-list__logo.building {
    mask: url(../media/images/icons/building.svg) no-repeat center  / contain;
    -webkit-mask: url(../media/images/icons/building.svg) no-repeat center / contain;
}

.services-list__logo.repairs {
    mask: url(../media/images/icons/repairs.svg) no-repeat center  / contain;
    -webkit-mask: url(../media/images/icons/repairs.svg) no-repeat center / contain;
}

.services-list__logo.conditioning {
    mask: url(../media/images/icons/conditioning.svg) no-repeat center  / contain;
    -webkit-mask: url(../media/images/icons/conditioning.svg) no-repeat center / contain;
}

.services-list__logo.water {
    mask: url(../media/images/icons/water.svg) no-repeat center  / contain;
    -webkit-mask: url(../media/images/icons/water.svg) no-repeat center / contain;
}

.services-list__logo.cleaning {
    mask: url(../media/images/icons/cleaning.svg) no-repeat center  / contain;
    -webkit-mask: url(../media/images/icons/cleaning.svg) no-repeat center / contain;
}

.services-list__logo.electricity {
    mask: url(../media/images/icons/electricity.svg) no-repeat center  / contain;
    -webkit-mask: url(../media/images/icons/electricity.svg) no-repeat center / contain;
}

.services-list__logo.power-supply {
    mask: url(../media/images/icons/power-supply.svg) no-repeat center  / contain;
    -webkit-mask: url(../media/images/icons/power-supply.svg) no-repeat center / contain;
}

/* Settings for text in services items */

.services-list__content {
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.services-list__item h3 {
    line-height: 26px;
    font-size: 1.375rem;
    height: 80px;
}

.services-list__item p {
    margin-top: 14px;
    font-size: 1.125rem;
    line-height: 22px;
}

.services-list__item a {
    font-weight: 600;
    text-decoration: underline;
}

/* Setting for animation */

.services-list__item:hover,
.services-list__item:hover a {
    background-color: #0D318D;
    color: #ffffff;
}

.services-list__item:hover .services-list__logo {
    background-color: #ffffff;
}


/*---- Section with introduction ----*/

.number-info {
    display: flex;
    justify-content: space-between;
}

.number-info__item {
    width: 30%;
    min-width: fit-content;
    padding-right: 10px;
}

.number-info__number {
    font-weight: 600;
    font-size: 3.625rem;
}

.number-info__text {
    font-size: 1.25rem;
}


/*---- Section with logos ----*/


.clients-logos__heading {
    font-size: 2.25rem;
    font-weight: 700;
}

.clients-logos__carousel {
    margin-top: 40px;
    overflow: hidden;
    display: flex;
    max-width: 1620px;
}

.clients-logos__item {
    flex-shrink: 0;
    min-width: 400px;
}

.clients-logos__controls {
    width: fit-content;
    margin-left: auto;
    right: 0;
    margin-top: 60px;
}

.arrow-left, 
.arrow-right {
    width: 40px;
    height: 40px;
    background-color: #C4C4C4;
}

.arrow-left {
    transform: rotate(90deg);
    margin-right: 40px;
}

.arrow-right {
    transform: rotate(-90deg);
}

.arrow-left:hover, 
.arrow-right:hover {
    background-color: #0D318D;
}

/*---- Section with video ----*/

.container.video-section {
    width: 92%;
    margin-left: 8%;
    display: flex;
    padding: 80px 0 100px;
}

.video-section__content {
    flex-basis: 700px;
    flex-shrink: 1;
    padding-right: 40px;
}

.video-section__heading {
    padding-right: 5%;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 49px;
}


.video-section__text {
    margin: 12px 0;
    font-size: 1.25rem;
    line-height: 27px;
}

/*---- Section with portfolio ----*/

.container.portfolio {
    width: 92%;
    margin-left: 8%;
    display: flex;
    padding: 80px 0 100px;
}

.portfolio__content {
    flex-basis: 500px;
    flex-shrink: 1;
    padding-right: 40px;
}

.portfolio__heading {
    padding-right: 5%;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 49px;
}

.portfolio__text {
    margin: 12px 0;
    font-size: 1.25rem;
    line-height: 27px;
}

.portfolio__button {
    margin-top: 40px;
}

/* Grid system for images */

.portfolio__images {
    display: grid;
    gap: 10px;
    padding-right: 50px;
    grid-template-columns: 34% 18% 18% 10% 20%;
    grid-template-areas: 
        "one two two two three"
        "one four four five five";
}

.portfolio__item {
    border-radius: 10px;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.portfolio__item.item-1 {
    grid-area: one;
}

.portfolio__item.item-2 {
    grid-area: two;
}

.portfolio__item.item-3 {
    grid-area: three;
}

.portfolio__item.item-4 {
    grid-area: four;
}

.portfolio__item.item-5 {
    grid-area: five;
}

/*---- Section with clients reviews ----*/

.container.reviews {
    width: 92%;
    margin-left: 8%;
    padding: 55px 0;
}

.reviews__headig {
    padding-right: 5%;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 49px;
}

.reviews__carousel {
    overflow: hidden;
    margin-top: 40px;
    display: flex;
    position: relative;
}

.reviews__item {
    flex-shrink: 0;
    background-color: #ffffff;
    width: 600px;
    height: 450px;
    margin-right: 40px;
    padding: 45px 80px 45px 20px;
    border-radius: 10px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.reviews__content {
    position: relative;
}

.reviews__content h3 {
    font-size: 1.375rem;
    height: 80px;
}

.reviews__text {
    font-size: 1.25rem;
    text-align: justify;
}

.review__info {
    position: absolute;
    bottom: 45px;
}

.reviews__text--item-3 {
    margin-top: 40px;
}

.reviews__credidentials {
    display: flex;
    margin-bottom: 10px;
}

.reviews__company-name h4 {
    font-size: 1.375rem;
    font-weight: 600;
}

.reviews__company-name p {
    font-size: 1.25rem;
}

.review__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 20px;
}

.review__photo h4 {
    font-size: 1.25rem;
    font-weight: 600;
}

.reviews__link a {
    font-size: 20px;
    text-decoration: underline;
    color:#0D318D;
}