/*  accent blue - #0D318D 
    accent light-blue - #F5F8FE
*/

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
/* font-family: 'Montserrat', sans-serif; */

/*---- Main setting for website ----*/
* {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

a {
    color: black;
}

.container {
    width: 84%;
    margin: 0 auto;
}

.link--bold {
    font-weight: 600;
}

/* Setting for cookies panel */

.cookies {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #0D318D;
    color: #ffffff;
    font-size: 1.5rem;
}

.cookies__text {
    padding: 0 15%;
    text-align: center;
}

.cookies a {
    color: #ffffff;
}


.cookies__close {
    position: absolute;
    right: 8%;
    font-weight: 700;
    text-align: center;
}

.cookies__close:hover {
    cursor: pointer;
}

/* Setting for header */

header {
    margin-top: 40px;
    border: 1px black solid;
}


/*---- Navigation ----*/



.main-nav__services-list {
    display: none;
}
