/*  accent blue - #0D318D 
    accent light-blue - #F5F8FE
*/


/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
/* font-family: 'Montserrat', sans-serif; */

/*---- General setting for the site----*/
* {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

html {
    max-width: 1920px;
    scroll-behavior: smooth;
    margin: 0 auto;
}

a {
    color: #000000;
    text-underline-offset: 3px;
}

li, ul {
    margin: 0;
    padding: 0;
}

header, section {
    margin-bottom: 60px;
}

section.accent--light-blue {
    padding-bottom: 60px;
    padding-top: 60px;
}

img {
    user-select: none;
}

.container {
    padding-left: 8%;
    overflow: hidden;
}


.link--bold {
    font-weight: 600;
}

.accent--blue {
    color: #0D318D;
}

.accent--light-blue {
    background-color: #F5F8FE;
}

[data-carousel] {
    position: relative;
}

[data-carousel__inner] {
    display: inline-flex;
    position: relative;
}


[class$='heading'] {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 49px;
}

/*---- Buttons ----*/

.more-button {
    margin-top: 40px;
}

.more-button__link {
    display: flex;
    justify-content: center;
    color: #ffffff;
    align-items: center;
    width: 200px;
    height: 60px;
    background-color: #0D318D;
    color: #ffffff;
    border-radius: 12px;
    font-size: 1.375rem;
    font-weight: 600;
}

.arrow-symbol {
    cursor: pointer;
    display: inline-block;
    background-color: #000000; /* defines the background color of the image */
    mask: url(../media/images/icons/arrow-down.svg) no-repeat center / contain;
    -webkit-mask: url(../media/images/icons/arrow-down.svg) no-repeat center / contain;
    user-select: none;
}

.arrow-left, 
.arrow-right {
    width: 40px;
    height: 40px;
    background-color: #C4C4C4;
}

.arrow-left {
    transform: rotate(90deg);
    margin-right: 40px;
}

.arrow-right {
    transform: rotate(-90deg);
}

.arrow-left:hover, 
.arrow-right:hover {
    background-color: #0D318D;
}

.carousel-controls {
    position: relative;
    width: fit-content;
    margin-left: auto;
    right: 8%;
    margin-top: 60px;
    user-select: none;
}

/* Setting for cookies panel */

.cookies {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    max-width: 1920px;
    height: fit-content;
    min-height: 60px;
    padding: 10px 0px;

    z-index: 999;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #0D318D;
    color: #ffffff;
    font-size: 1.25rem;
}

.cookies__text {
    padding: 0 15%;
    text-align: center;
}

.cookies a {
    color: #ffffff;
}


.cookies__close {
    position: absolute;
    right: 0;
    padding-right: 7.5%;
    font-weight: 700;
    text-align: center;
}



.cookies__close:hover {
    cursor: pointer;
}

/* Setting for header */

header {
    position: relative;
    font-size: 1.375rem;
    margin-top: 40px;
}


/*---- Mobile navigation */

.mobile-nav-controls {
    justify-content: space-between;
    align-items: center;
    display: none;
}

.mobile-nav-controls .logo {
    width: 150px;
    height: 60px;
}



#mobile-selector {
    
    position: relative;
    width: 35%;
    display: flex;
    justify-content: end;
    font-weight: 700;
}

#mobile-selector span {
    color: #0D318D;
    padding-right: 10%;
    font-size: 2rem;
    transform:scale(1.5,1.0);
}

#mobile-selector span:hover {
    cursor: pointer;
}

.mobile-nav {
    transition: top 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    top: -100%;
    left: 0;
    z-index: 100;
    background-color: #ffffff;
    touch-action: none;
}

.mobile-nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.mobile-nav__close {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 3rem;
}

.mobile-nav__services-list {
    transition: top 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    top: -100%;
    left: 0;
    z-index: 100;
    background-color: #ffffff;
    touch-action: none;
}

.mobile-nav__services-list .services-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #ffffff;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    margin-bottom: 25px;
}

.mobile-nav__services-list__close {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 3rem;
}


.mobile-nav__services-list .services-list__item:hover,
.services-list__item:hover a {
    background-color: #ffffff;
    color: #000000;
}

/*---- Navigation ----*/

.navigation-panel {
    font-weight: 600;
}

.arrow-down {
    width: 15px;
    height: 15px;
}


/*---- Grid system for navigation ----*/
.navigation-panel {
    overflow: visible;
    padding-right: 5%;
    display: grid;
    column-gap: 40px;
    row-gap: 20px;
    grid-template-columns: minmax(130px, 12%) minmax(550px, 700px) minmax(290px, auto) minmax(100px, 160px);
    grid-template-areas: 
        "logo main-nav email lang";
}


.navigation-panel > * {
    padding-top: 10px;
}

.logo {
    grid-area: logo;
    background-image: url("../media/images/photos/logos/jumis_logo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.main-nav {
    grid-area: main-nav;
}

.email-contact {
    grid-area: email;
    text-align: end;
    justify-self: end;
}

.lang-selector {
    grid-area: lang;
}

/*---- Navigation elements ----*/

.main-nav__list {
    display: flex;
    justify-content: space-between;
}

.main-nav__item {
    width: max-content;
}



/* Animations */

.main-nav__item:hover > * {
    color: #0D318D;
    cursor: pointer;
}

.main-nav__item:hover .arrow-down {
    background-color: #0D318D;
}

/*---- Email contact ----*/

.email-contact {
    color: #0D318D;
    text-decoration: underline;
}



/*---- Language selector ----*/

.lang-selector {
    position: relative;
    z-index: 20;

}

.lang-selector__list {
    overflow: hidden;
    height: 50px;
    width: 100%;

    position: absolute;
    top: 0;

    padding-top: 10px;
    font-size: 1.5rem;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.lang-selector__item {
    margin: 0 25% 15px;
}

.lang-selector__item a {
    display: block;
    
}

.lang-selector__link.link--bold {
    cursor: pointer;
}

.lang-selector .arrow-down {
    width: 22px;
    padding-right: 10px;
}

/* Animations */

.lang-selector__list.collapsed {
    background-color: #0D318D;
    height: 160px;
    color: #ffffff;
}

.lang-selector__list.collapsed .lang-selector__link {
    color: #ffffff;
}

.lang-selector__list.collapsed .arrow-down {
    background-color: #ffffff;
}


/*---- Footer settings ----*/

footer.not-index-page {
    position: relative;
    top: 800px;
}

.footer-nav {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding-right: 8%;
    padding-top: 60px;
}

.footer-nav__block {
    min-width: fit-content;
    margin-top: 0;
}

.footer-nav__block.more-button {
    align-self: flex-start;
}

.footer-nav__item {
    margin-bottom: 1rem;
}

.item--bold {
    font-weight: 600;
    font-size: 1.375rem;
}

.footer-nav__link {
    font-size: 1.25rem;
}

.footer-nav__link.link--bold {
    font-size: 1.375rem;
}

.link-map {
    text-decoration: underline;
}

.footer-nav__link:hover {
    color: #0D318D;
}

.footer-nav__item .more-button {
    display: none;
}

.footer-nav__mobile {
    display: none;
    font-size: 1.25rem;
    color: #ffffff;
}

.footer-nav__mobile__list {
    padding-top: 2.375rem;
    padding-bottom: 8rem;
}

.footer-nav__mobile__item {
    margin-bottom: 1.5rem;
}

.footer-nav__mobile__item a {
    font-size: 1.25rem;
    color: #ffffff;
}

.footer-nav__mobile__item.contacts > .footer-nav__link {
    line-height: 2rem;
    font-size: 1rem;
}

.footer-nav__logo {
    width: 200px;
    background-position: top;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright span {
    display: block;
    padding-bottom: 2rem;
    /* color: #000000; */
}

.copyright .developed-by {
    font-size: 0.75rem;
    padding-right: 8%;
}



/*---- Section with introduction ----*/

.container.introduction {
    display: flex;
    transition: all 0.3s ease;
    height: 320px;
}

.introduction__content {
    flex-basis: 700px;
    flex-shrink: 0;
    padding-right: 40px;
}

.introduction__heading .accent--blue {
    font-size: 2.5rem;
}

.introduction__text {
    margin: 12px 0;
    font-size: 1.25rem;
    line-height: 27px;
}

.introduction__button {
    margin-top: 0;
}

.introduction__image {
    position: relative;
    max-height: 100%;
    width: 100%;
}


.introduction__image img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.overlay__image {
    display: none;
    position: relative;
    max-height: 200px;
    margin: 40px 0;
}

.overlay__image img {
    width: 100%;
    object-fit: cover;
    object-position: 0 70%;
}

.overlay__image .ovelay-text {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.35);
}

.ovelay-text__item {
    display: flex;
    flex-wrap: wrap;
    min-width: 30%;
    padding: 0;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.ovelay-text__item span {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
}

.ovelay-text__number {
    font-size: 1.375rem;
    font-weight: 700;
}

.ovelay-text__text {
    font-size: 1rem;
    font-weight: 400;
}

/*---- Navigation section for services list ----*/

/* Settings for whole section */

.services-list {
    transition: max-height 0.3s ease;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.mobile-services {
    display: none;
}

.services-list__mobile {
    display: flex;
    justify-content: center;
}

.services-list__mobile ul {
    width: 60%;
}

.services-list__mobile li {
    margin-bottom: 20px;
}

.services-list__mobile .services-list__item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 62px;
    padding: 0;
    margin: 0;
    font-size: 1.125rem;
    font-weight: 600;
    background-color: #ffffff;
}

.services-list.not-index-page {
    margin-top: 40px;
    max-height: 0;
}

.services-list.collapsed {
    max-height: 1100px;
}


/* Settings for item */

.services-list__item {
    padding: 1rem 1.5rem 2rem 1rem;
    width: 235px;
    margin-bottom: 20px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.services-list__logo {
    background-color: #000000;
    width: 50px;
    height: 50px;
}

.services-list__text span {
    display: inline;
    margin: 0;
    padding: 0;
    text-decoration: underline;
    font-weight: 600
}

/* Icons for services items */

.services-list__logo.building {
    mask: url(../media/images/icons/building.svg) no-repeat center  / contain;
    -webkit-mask: url(../media/images/icons/building.svg) no-repeat center / contain;
}

.services-list__logo.repairs {
    mask: url(../media/images/icons/repairs.svg) no-repeat center  / contain;
    -webkit-mask: url(../media/images/icons/repairs.svg) no-repeat center / contain;
}

.services-list__logo.conditioning {
    mask: url(../media/images/icons/conditioning.svg) no-repeat center  / contain;
    -webkit-mask: url(../media/images/icons/conditioning.svg) no-repeat center / contain;
}

.services-list__logo.water {
    mask: url(../media/images/icons/water.svg) no-repeat center  / contain;
    -webkit-mask: url(../media/images/icons/water.svg) no-repeat center / contain;
}

.services-list__logo.cleaning {
    mask: url(../media/images/icons/cleaning.svg) no-repeat center  / contain;
    -webkit-mask: url(../media/images/icons/cleaning.svg) no-repeat center / contain;
}

.services-list__logo.electricity {
    mask: url(../media/images/icons/electricity.svg) no-repeat center  / contain;
    -webkit-mask: url(../media/images/icons/electricity.svg) no-repeat center / contain;
}

.services-list__logo.power-supply {
    mask: url(../media/images/icons/power-supply.svg) no-repeat center  / contain;
    -webkit-mask: url(../media/images/icons/power-supply.svg) no-repeat center / contain;
}

/* Settings for text in services items */

.services-list__content {
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.services-list__item h3 {
    line-height: 26px;
    font-size: 1.375rem;
    height: 80px;
}

.services-list__item p {
    margin-top: 14px;
    font-size: 1.125rem;
    line-height: 22px;
}

/* Setting for animation */

.services-list__item:hover,
.services-list__item:hover a {
    background-color: #0D318D;
    color: #ffffff;
}

.services-list__item:hover .services-list__logo {
    background-color: #ffffff;
}


/*---- Section with numbers ----*/

.number-info {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 8%;
}

.number-info__item {
    min-width: fit-content;
}

.number-info__number {
    font-weight: 600;
    font-size: 3.625rem;
}

.number-info__text {
    font-size: 1.25rem;
}


/*---- Section with logos ----*/

.clients-logos__carousel {
    margin-top: 40px;
}

.clients-logos__carousel__inner {
    gap: 200px;
    position: relative;
}

.clients-logos__item {
    flex-shrink: 0;
    width: 250px;
    object-position: center;
}

.clients-logos__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/*---- Section with video ----*/

.container.video-section {
    display: flex;
}

.video-section__content {
    flex-basis: 700px;
    min-width: 400px;
    padding-right: 40px;
}

.video-section__text {
    margin: 12px 0;
    font-size: 1.25rem;
    line-height: 27px;
}

.video-section__video-container {
    padding-right: 8%;
}

.video-section__video {
    border-radius: 10px;
    width: 675px;
    height: 380px;
}

/*---- Section with portfolio ----*/

.container.portfolio {
    display: flex;
}

.portfolio__content {
    flex-basis: 40%;
    max-width: 700px;
    padding-right: 40px;
}

.portfolio__text {
    margin: 12px 0;
    font-size: 1.25rem;
    line-height: 27px;
}

.portfolio .mobile-button {
    display: none;
}

/* Grid system for images */
.portfolio__images {
    flex-basis: 60%;
}

.portfolio__images__inner{
    display: grid;
    row-gap: 1%;
    column-gap: 0.5%;
    margin-right: 10%;
    grid-template: 59% 40% / 32% 18% 18% 10% 20%;
    grid-template-areas: 
        "one two two two three"
        "one four four five five";

}

.portfolio__item {
    height: 100%;
    width: 100%;
}

.portfolio__image {
    border-radius: 10px;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.portfolio__item.item-1 {
    grid-area: one;
}

.portfolio__item.item-2 {
    grid-area: two;
}

.portfolio__item.item-3 {
    grid-area: three;
}

.portfolio__item.item-4 {
    grid-area: four;
}

.portfolio__item.item-5 {
    grid-area: five;
}



/*---- Section with clients reviews ----*/

.reviews__carousel {
    margin-top: 40px;
    padding-bottom: 20px;
}

.reviews__carousel__inner {
    gap: 40px;
    position: relative;
}

.reviews__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    background-color: #ffffff;
    width: 600px;
    height: 450px;
    padding: 2.5rem 2.5rem 2.5rem 1.25rem;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}


.reviews__content h3 {
    font-size: 1.375rem;
    height: 80px;
}

.reviews__text {
    font-size: 1.25rem;
    text-align: justify;
}

.reviews__text--item-3 {
    margin-top: 40px;
}

.reviews__credidentials {
    display: flex;
    margin-bottom: 10px;
}

.reviews__company-name h4 {
    font-size: 1.375rem;
    font-weight: 600;
}

.reviews__company-name p {
    font-size: 1.25rem;
}

.review__photo {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 20px;
}

.review__photo h4 {
    font-size: 1.25rem;
    font-weight: 600;
}

.reviews__link a {
    font-size: 1.25rem;
    text-decoration: underline;
    color:#0D318D;
}

.reviews__text__hideable {
    display: none;
}

.reviews__text_hide-btn {
    color: #0D318D;
    text-decoration: underline;
    font-weight: 600;
    display: none;
}
